body{
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(84, 81, 81);
}

h1{
     color: rgb(0, 191, 255);
}

form{
     background-color: white;
     text-align: center;
     max-width: 300px;
     margin: auto;
     padding: 25px;
     border-radius: 20px;
     box-shadow: 5px 5px 20px pink;

}

#textBox{
     width: 50%;
     text-align: center;
     font-size: 2em;
     border: 2px solid hsla(0, 0%, 0%, 0.556);  
     border-radius: 15px;
     margin-bottom: 15px;

}

label{
     font-size: 1.5em;
     font-weight: bold;

}
button{
     margin-top: 15px;
     background-color: rgba(210, 118, 196, 0.962);
     font-size: 1.5em ;
     border: none;
     padding: 10px 15px;
     border-radius: 15px;
     border-color: white;
     cursor: pointer;
}
button:hover{
     background-color: rgba(169, 95, 158, 0.962);
}

#result{
     font-size: 1.75em;
     font-weight: bold;
}